html { font-size: 100%;}
body { font-size: .75em;}
siteName{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:grey;
    font-size: 3em;
    margin:.5em 0em .5em .5em;
    height:auto;
    width:auto;
    /* letter-spacing: .1em; */
}
topic{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(156, 85, 85);
    margin:1em 0em 1em 1em;
    font-size: 2.5em;
    height:auto;
    width:auto;
    letter-spacing: .15em;
}
subTopic{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 155, 75);
    margin:1em 0 .5em 2em;
    font-size: 2em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
quizHddr{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(207, 95, 95);
    margin:.5em 0 1em 2em;
    font-size: 2em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
quizExplained{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(86, 148, 167);
    margin:1em 0 1em 2em;
    font-size: 1em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
questionMain{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(65, 104, 156);
    margin:1em 0 1em 2em;
    font-size: 2em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
questionHints{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(38, 51, 68);
    margin:1em 0 1em 3em;
    font-size: 1.5em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    /* position: relative; */
    text-align: right;
    width: 650px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color:rgb(235, 145, 44);
    text-align: right;
    margin-right: 5px;
    font-size: 1.2em; 
}
input{
    width: auto;
    margin: 6px;
    color:rgb(53, 51, 49);
}
.button{
    float: initial;
    color:rgb(80, 77, 74);
    margin-right: 40%;
    width: 10em;
}
questionProgress{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 89, 43);
    margin:1em 0 1em 1em;
    font-size: 1.5em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
questionResults{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 151, 70);
    margin:1em 0 1em 3em;
    font-size: 1.5em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}
restart{
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(161, 45, 45);
    margin:1em 0 1em 3em;
    font-size: 1.5em;
    height:auto;
    width:auto;
    letter-spacing: .1em;
}

a:link {
    background-color: rgb(230, 230, 165);
    color: rgb(232, 91, 70);
    }
QuizMore{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: violet;
    margin-left: 2em;    
}
.today{
    color: #e4a048;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    letter-spacing: .2em;
}
.dotCom{
    color: #4CAF50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    letter-spacing: .3em;
}
.err{
    color: #dd632a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
hr{
    color:salmon;
    height: 5px;
    background-color: lightpink;
}


h1 { 
    font-size: 2.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:lightslategrey;
}
h2 { 
    font-size: 2em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(122, 155, 155);
    font-weight: lighter;
    margin-left: .5em;
}
h3 { 
    font-size: 1.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(192, 171, 133);
    font-weight: lighter;
    margin-left: 1.5em;
}
h4 { 
    font-size: 1em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(122, 155, 155);
    font-weight: lighter;
    margin-left: .5em;
}
h5 { 
    font-size: .8em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(115, 204, 204);
    font-weight: lighter;
    margin-left: .5em;
}
h6 { 
    font-size: .5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(95, 179, 179);
    font-weight: lighter;
    margin-left: .5em;
}