<!--start _index_.html-->
<section id="banner">
    <div class="content">
        <centerIt>
            [[contentHddr]]
            <br>
            [[loggedInOutTxt]]
        </centerIt>
        <hr>
        [[contentText]]
        <hr>
        [[contentActions]]
        <p class="centreTxt">
            [[packDrill]]
        </p>
    </div><!--content-->
</section><!--banner-->
<section class="orangeBar">
    <div class="orangeBarInner">
        <centerItOrange>
            [[orangeHeadding]]
        </centerItOrange><!--close-->
        <blockquote>
            "[[blockQuote]]"
        </blockquote><!--Close-->
        <founders>
            [[footerPre]]							
        </founders><!--Close-->
    </div><!--inner-->
</section><!--orangeBar-->
<!--end _index_.html-->
