<section id="banner">
    <div class="content">
        <centerIt>
            <a name="top">&nbsp;</a>[[topic]]&nbsp;
        </centerIt>
        <hr>
        <form action="_handler_.php" method="post">
            <capture>
                [[form]]  
            </capture>
        </form>
        <hr>
        [[options]]
        <hr>
    </div><!--content-->
</section>