<section id="banner">
    <div class="content">
        <centerIt>
            <a name="top">&nbsp;</a>[[topic]]&nbsp;
        </centerIt>
        <hr>
			[[topicDetail01]]
			[[topicDetail02]]
            [[topicDetail03]]
            <p class="centreTxt">
                [[packDrill]]
            </p>
            <hr>
            [[topicNextSteps]]
            <hr>
        </p>
    </div><!--content-->
</section><!--banner-->
<section class="orangeBar">
    <a name="publish">..</a>
    <div class="orangeBarInner">
        <centerItOrange>
            <a name="publish">[[publishArea]]</a>
        </centerItOrange>
        <blockquote>
            [[vidEmbed]]
            <br>
            [[otherLinks]]
        </blockquote>
    </div><!--orangeBarInner-->
</section><!--orangeBar-->
