<!-- start footer.html template-->
<footerBottom>
    <footerItem>&#128236;&nbsp;<a href="makeContact.php">hphilip@wis.edu.na</a></footerItem><br>
    <footerItem>&copy;&nbsp;2020-1 Content & Service by <a href="tetradime.com">Tetradime - Com</a></footerItem>
</footerBottom><!--id=footer-->
<script>
    //scrAlert
</script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<script src="js/main.js"></script>
</body>
</html>